
<div class="container">
    <h2>Costs Valid Details</h2>
    <br />
    <dqobjecttype *ngIf="costsvalid"
                  [IfcWall]="getifctypewall()"
                  [IfcColumn]="getifctypecolumn()"
                  [IfcBeam]="getifctypebeam()"
                  (countRadioButtonSelectionChanged)="onifcobjecttypeRadioButtonChange($event)"></dqobjecttype>
    <br />
    <h3>
        <span style="font-size:10px; color:blue">
            Diameter in the range of 0.35 and 0.75,  <br />
            Units in the format of m or sqm or t or cubicm,  <br />
            Height in the range of 2.35 or 3.0
        </span>
    </h3>
    <div class="table-responsive" style="height:250px; overflow: auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Global Id</th>
                    <th>IFC type</th>
                    <th>Unit</th>
                    <th>Amount</th>
                    <th>UnitPrice</th>
                    <th>Price</th>
                    <th>Diameter</th>
                    <th>Height</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let cost of costsvalid">
                    <tr *ngIf="selectedifcobjecttypeRadioButton==cost.IfcType">
                        <td>{{cost.GlobalId}}</td>
                        <td>{{cost.IfcType}}</td>
                        <td>{{cost.Unit}}</td>
                        <td>{{cost.Amount}}</td>
                        <td>{{cost.UnitPrice}}</td>
                        <td>{{cost.Price}}</td>
                        <td>{{cost.Diameter}}</td>
                        <td>{{cost.Height}}</td>
                    </tr>

                </ng-container>
            </tbody>
        </table>
    </div>
    <br />
    <input type="button" class="btn btn-primary" (click)="onbackbuttonclick()" value="Back to Ifc list" />
</div>
